In [41]:
import shutil
import pandas as pd

In [42]:
data = pd.read_csv("Train.csv")

In [43]:
data_to_augment = data[ data["label"]==0 ]

In [44]:
print(data_to_augment.shape)
data_to_augment.head()

(34, 3)

      Unnamed: 0                                          path  label
1010        1010  DAiSEE/DataSet/TrainFrames/210055/2100551005      0
1133        1133  DAiSEE/DataSet/TrainFrames/310075/3100751007      0
1187        1187  DAiSEE/DataSet/TrainFrames/310075/3100751010      0
1476        1476  DAiSEE/DataSet/TrainFrames/181374/1813740138      0
2032        2032  DAiSEE/DataSet/TrainFrames/210058/2100582052      0

In [45]:
n = 10
for _,row in data_to_augment.iterrows():
    path = row["path"]
    for i in range(n):
        new_path = path+"-cp"+str(i)
        shutil.copytree(path,new_path)
        # new_row = {data.columns[0]:"", data.columns[1]:new_path, data.columns[2]:"0"}
        # data_to_augment = pd.concat([data_to_augment, pd.DataFrame(new_row)], ignore_index=True)
        data.loc[len(data)] = ["", new_path,"0"]

In [46]:
data.tail()

     Unnamed: 0                                              path label
5693             DAiSEE/DataSet/TrainFrames/111003/1110031063-cp5     0
5694             DAiSEE/DataSet/TrainFrames/111003/1110031063-cp6     0
5695             DAiSEE/DataSet/TrainFrames/111003/1110031063-cp7     0
5696             DAiSEE/DataSet/TrainFrames/111003/1110031063-cp8     0
5697             DAiSEE/DataSet/TrainFrames/111003/1110031063-cp9     0

In [47]:
data.to_csv("Train.csv")